header, footer {
    padding: 0.35em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

body{
	background-image: url("images/image.jpeg");
	background-color: grey;
	background-size: 2600px 1800px;
	background-position: center;
	font-family: 'Roboto', sans-serif;
}

.textarea  
{  
   font-family:"Times New Roman", Times, serif;  
   font-size: 20px;   
}
/*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}*/